.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-left: 200px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; 
  margin-left: 0; 
}

.input-field-novi {
  width:  600px; 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


textarea.input-field-novi {
  resize: vertical;
  height: 150px; 
}

.input-field-novi::placeholder {
  color: rgba(0, 0, 0, 0.5); 
}


.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.reset-button:hover {
  background-color: #5a6268;
}


.error {
  color: red;
  margin-top: 5px;
}

.success {
  color: green;
  margin-top: 5px;
}
