.header {
  background-color: #2196F3;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: top 0.3s ease; /* Smooth transition */
}


.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}

.user-section-header {
  display: flex;
  align-items: center;
}

.user-info-header {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.notification-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.user-avatar {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    min-width: 200px;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.clear-notifications {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-weight: bold;
}

.notification-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.notification-item:last-child {
    border-bottom: none;
}

.notification-container {
  margin-right: 15px;
}