.publishing-container {
  display: flex;
  padding: 20px;
}

.publishing-sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.publishing-sidebar button {
  margin-bottom: 10px;
}

.content {
  flex-grow: 1;
}

.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
}

/* Style for the search bar */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}



.TableCellHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #3d4852;
  padding: 10px;
  border-bottom: 1px solid #e1e5eb;
  cursor: pointer;
}




