
.settings {
    padding: 20px;
  }
  
  .heading {
    margin-top: 7px;
  }
  
  .heading .border-b {
    border-bottom: 1px solid #e4dfdf;
  }
  
  .heading .pl-8 {
    padding-left: 30px;
  }
  
  .heading .pb-5 {
    padding-bottom: 21px;
  }
  
  .settings .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .settings .text-gray-500 {
    color: #6b7280;
  }
  
  .settings .border-b {
    border-bottom: 1px solid #e4dfdf;
  }
  
  .settings .pl-8 {
    padding-left: 30px;
  }
  
  .settings .inline {
    display: inline;
  }
  
  .settings .hover\:text-blue-800:hover {
    color: #2c5282;
  }
  
  .settings .ml-14 {
    margin-left: 70px;
  }
  
  .settings-content {
    height: calc(100vh - 71px - 1rem - 1px); /* Subtracting header height, padding, and border */
    overflow-y: auto;
  }
  
  .settings-content .section {
    margin-top: 20px;
  }
  
  .settings-content .flex {
    display: flex;
  }
  
  .settings-content .flex-col {
    flex-direction: column;
  }
  
  .settings-content .border-b {
    border-bottom: 1px solid #e4dfdf;
  }
  
  .settings-content .pb-5 {
    padding-bottom: 20px;
  }
  
  .settings-content .pl-8 {
    padding-left: 30px;
  }
  
  .settings-content .ml-15 {
    margin-left: 60px;
  }
  
  .settings-content .mt-5 {
    margin-top: 20px;
  }
  
  .settings-content .pt-4 {
    padding-top: 15px;
  }
  
  .settings-content .max-w-lg {
    max-width: 400px;
  }
  
  .settings-content .input-box {
    height: 50px;
    flex: 1;
    width: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.875rem;
    color: #4a5568;
    background-color: white;
    border: 1px solid #e4dfdf;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    appearance: none;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .settings-content .input-box:focus {
    border-color: #3182ce;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  .settings-content .ml-2 {
    margin-left: 10px;
  }
  
  .settings-content .mt-2 {
    margin-top: 10px;
  }

  .active-book-nav {
    font-weight: bold;
    color: #1a73e8; 
  }
  
  