.profile-image {
  width: 150px;
  height: 150px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.input-field-novi {
  width: calc(400% - 20px); /* Adjust the width of the input fields */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-field-novi {
  width: calc(98% - 20px); /* Adjust the width of the password fields */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-field-novi::placeholder,
.password-field-novi::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Semi-transparent */
}

.password-container {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  right: 10px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.reset-button:hover {
  background-color: #5a6268;
}

.error {
  color: red;
  margin-top: 5px;
}

.success {
  color: green;
  margin-top: 5px;
}
